@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "cdbold";
    src: url("./fonts/cinzel_decorative/CinzelDecorative-Bold.ttf");
  }
@font-face {
    font-family: "cdregular";
    src: url("./fonts/cinzel_decorative/CinzelDecorative-Regular.ttf");
  }
  
@font-face {
    font-family: "lazy";
    src: url("./fonts/lazy_dog/lazy_dog.ttf");
  }
